#! /bin/bash
# {{ ansible_managed }}

# DB Backup and gzip
/usr/bin/pg_dump postgres://{{ postgres_user }}:{{ postgres_pw }}@127.0.0.1:5432/netbox | gzip > netbox_$(date +%Y-%m-%d).psql.gz

# delete backups older than 7 days but not first of month backups
find . ! -name '*01.psql.gz' ! -name 'nebbox_backup.sh' -mmin +$((7*60*24)) -exec rm -f {} \;


