# {{ ansible_managed }}
# /etc/systemd/system/netbox-backup.timer

[Unit]
Description=run netbox db backup daily
Requires=netbox-backup.service

[Timer]
Unit=netbox-backup.service
AccuracySec=2h
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

