# {{ ansible_managed }}
# /etc/systemd/system/netbox-backup.service

[Unit]
Description=netbox db backup service
Wants=netbox-backup.timer

[Service]
ExecStart={{ netbox_backup_dir }}/netbox_backup.sh
WorkingDirectory={{ netbox_backup_dir }}

[Install]
WantedBy=multi-user.target

